<div class="relative">
    <section class="relative">
        <div class="pt-16 pb-24 sm:pt-24 sm:pb-32 md:pt-32 md:pb-48">
            <h1 class="font-display text-6xl/[0.9] font-medium tracking-tight text-balance text-gray-950 sm:text-8xl/[0.8] md:text-9xl/[0.8]">
                Close every deal.
            </h1>
            <p class="mt-8 max-w-lg text-xl/7 font-medium text-gray-950/75 sm:text-2xl/8">
                Radiant helps you sell more by revealing sensitive information about
                your customers.
            </p>
        </div>
    </section>
</div>
