{% set params = {
    title: ""
}|merge(params|default({})) %}

<li class="inline-flex items-center gap-x-1.5 rounded-md bg-gray-100 px-1.5 py-0.5 text-xs font-medium text-gray-600" role="listitem">
    <svg class="size-1.5 fill-gray-400" viewBox="0 0 6 6" aria-hidden="true">
        <circle cx="3" cy="3" r="3" />
    </svg>
    {{ params.title }}
</li>