{# @var plugin \jeffreybenusa\crafthirejeffreychat\Plugin #}
{# @var settings \jeffreybenusa\crafthirejeffreychat\models\Settings #}

{% import '_includes/forms.twig' as forms %}

{# Fieldset for API Key #}
<fieldset id="api-key-settings" class="meta">
    <legend>OpenAi API Key</legend>
    <div class="content">
        {{ forms.autosuggestField({
            label: 'API Key'|t('app'),
            instructions: 'Enter your ChatGPT API key or set it via the environment variable `OPENAI_API_KEY`.'|t,
            id: 'apiKey',
            name: 'apiKey',
            suggestEnvVars: true,
            value: settings.apiKey,
            errors: settings.getErrors('apiKey'),
        }) }}
    </div>
</fieldset>

{# Fieldset for Persona #}
<fieldset id="persona-settings" class="meta">
    <legend>ChatGPT Persona</legend>
    <div class="content">
        {{ forms.textareaField({
            label: 'Persona'|t,
            instructions: 'Enter the ChatGPT Persona'|t,
            id: 'persona',
            name: 'persona',
            rows: 4,
            value: settings.persona,
            errors: settings.getErrors('persona'),
        }) }}
    </div>
</fieldset>

{# Fieldset for Formatting Instructions #}
<fieldset id="formatting-settings" class="meta">
    <legend>Formatting Options</legend>
    <div class="content">
        {{ forms.editableTableField({
        label: 'Formatting Options'|t('app'),
        instructions: 'Define formatting options. Add or remove rows to tailor instructions to your needs.'|t('app'),
        id: 'formatting',
        name: 'formatting',
        cols: [
            {
                heading: 'Formatting Option'|t('app'),
                handle: 'option',
                type: 'singleline',
            },
        ],
        rows: settings.formatting ?? {},
        minRows: 1,
        maxRows: null,
        allowAdd: true,
        allowDelete: true,
        allowReorder: true,
        errors: settings.getErrors('formatting'),
        }) }}
    </div>
</fieldset>