{% import '_includes/forms.twig' as forms %}

<div class="field">
    <div class="">
        <label for="persona" class="required">Persona</label><div class="flex-grow"></div>
        {{ forms.textarea({
            rows: 4,
            cols: cols ?? 50,
            id: "persona",
            name: "persona"|t('coverLetter'),
            label: "Persona"|t('coverLetter'),
            maxlength: maxlength ?? false,
            autofocus: (autofocus ?? false) and not craft.app.request.isMobileBrowser(true),
            disabled: disabled ?? false,
            readonly: readonly ?? false,
            title: "Persona"|t('coverLetter'),
            placeholder: placeholder ?? false,
            text: value ?? '',
            aria: {
                describedby: describedBy ?? false,
            },
            data: {
                'show-chars-left': showCharsLeft ?? false,
            },
        }) }}
    </div>
</div>
<div class="field">
    <div class="">
        <label for="message" class="required">Message</label><div class="flex-grow"></div>
        {{ forms.textarea({
            rows: 4,
            cols: cols ?? 50,
            name: "message",
            id: "message",
            label: "Message"|t('coverLetter'),
            maxlength: maxlength ?? false,
            autofocus: (autofocus ?? false) and not craft.app.request.isMobileBrowser(true),
            disabled: disabled ?? false,
            readonly: readonly ?? false,
            title: "Message",
            placeholder: placeholder ?? false,
            text: value ?? '',
            aria: {
                describedby: describedBy ?? false,
            },
            data: {
                'show-chars-left': showCharsLeft ?? false,
            },
        }) }}
    </div>
</div>
<div class="field">
    <div class="">
        <label for="formatting" class="required">Formatting</label><div class="flex-grow"></div>
        {{ forms.textarea({
            rows: 4,
            cols: cols ?? 50,
            name: "formatting",
            id: "formatting",
            label: "Formatting"|t('coverLetter'),
            maxlength: maxlength ?? false,
            autofocus: (autofocus ?? false) and not craft.app.request.isMobileBrowser(true),
            disabled: disabled ?? false,
            readonly: readonly ?? false,
            title: "Formatting",
            placeholder: placeholder ?? false,
            text: value ?? '',
            aria: {
                describedby: describedBy ?? false,
            },
            data: {
                'show-chars-left': showCharsLeft ?? false,
            },
        }) }}
    </div>
</div>