{% extends '_layouts/base' %}

{% block content %}
    <div class="bg-teal py-28">
        <article class="max-w-5xl mx-auto px-2">
            <header class="text-white">
                <h1 class="text-6xl font-bold">
                    About Me
                </h1>
                <p class="mt-4 text-2xl italic">
                    Leveraging a deep technical toolkit to deliver results that matter.
                </p>
            </header>
        </article>
    </div>
{% endblock %}
