{% extends '_layouts/base' %}

{% set clientLogo = entry.logo.one() %}
{% set otherProjects = craft.entries().section('projects').limit(3).id('not ' ~ entry.id).orderBy('RAND()').all() %}

{% block content %}
    {% cache %}
        <div class="py-28">
            <article class="mx-auto max-w-7xl px-6 text-gray-dark">
                <!-- Hero section -->
                <header class="sm:mt-0 mb-12 relative lg:flex lg:flex-row-reverse lg:justify-between">
                    <div class="flex flex-col justify-center">
                        <h1 class="text-pretty text-4xl font-semibold tracking-tight sm:text-7xl pr-6">{{ entry.title }}</h1>
                    </div>
                </header>
                <section>

                </section>
            </article>
        </div>
    {% endcache %}

    <section class="bg-gray-dark text-white px-6 py-12">
        <div class="font-bold text-center p-8">
            <h2 class="text-3xl tracking-tight ">How Can I Help?</h2>
            <p>Ready to take the next step? Fill out the form below, and let’s connect.</p>
        </div>
        <div class="mx-auto max-w-3xl">
            {% include '_partials/form'  with { params: {
                submitClasses: "bg-accent text-white hover:bg-accent-dark"
            } } %}
        </div>
    </section>
{% endblock %}

{% block structuredData %}
    <script type="application/ld+json">
        {{ entry.structuredJson.json | raw }}
    </script>
{% endblock %}