<footer class="bg-gray-800 z-50 w-full py-12">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="flex flex-col text-center">
            <div class="flex items-center justify-center">
                <a href="/" class="w-auto block">
                    <img class="my-4" src="{{ craft.vite.asset("src/img/hirejeffrey/HireJeffrey-Long.svg") }}" alt="Your Company">
                </a>
            </div>
            <div class="flex flex-col">
                <span><a href="{{ url('projects')}}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white text-gray-300">Projects</a></span>
                <span><a href="{{ url('about-me')}}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white text-gray-300">About Me</a></span>
                <span><a href="{{ url('contact')}}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white text-gray-300">Contact</a></span>
            </div>
        </div>
    </div>
</footer>